@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: color 0.25s, width 0.25s, height 0.25s, transform 0.25s,
    opacity 0.25s;
}

body {
  @apply font-rash-serif bg-rash-black;
  color: #7f817f;

  .outer-wrapper {
    @apply container mx-auto w-full flex flex-col h-screen justify-between items-center gap-6;
  }

  a {
    @apply text-rash-yellow hover:text-rash-red;

    &.selected {
      @apply text-rash-red;
    }
  }

  p {
    &.accent {
      @apply text-white;
    }
  }

  main {
    .body-content {
      background: #0a0b0a url(../assets/images/bg-main.jpg) center 100px
        no-repeat;
      background-size: 100% auto;
    }
  }
}
