@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s;
}

body {
  @apply font-rash-serif bg-white;
  color: #7f817f;
  min-height: 100rem;

  .outer-wrapper {
    @apply relative flex flex-col items-center h-screen place-content-between;
  }

  a {
    @apply text-rash-yellow transition-colors hover:text-rash-red duration-500;

    &.selected {
      @apply text-rash-red;
    }
  }

  p {
    &.accent {
      @apply text-white;
    }
  }

  main {
    @apply text-7xl;

    .body-content {
      background: #0a0b0a url(../assets/images/bg-main.jpg) center 100px
        no-repeat;
      background-size: 100% auto;
    }
  }
}
